
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}

:root{
    --colorTexto: #49454567;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #4568DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 650px;
display: flex;
justify-content: center;
align-items: center;

}

h1{
    text-align: center;
    font-weight: 700;
}

form{
    background-color: #fff;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.form{
    width: 100%;
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 45px;
}