
body{
    background: #4568DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}









    
.menu{
    background-color:#7880e8 ;
}

.menu li{
    list-style: none;
    margin-top: 10px;
  
}
 .menulista{
    display: flex;
    flex-direction: row-reverse;
    background-color: blue
    


 }

.menuh a{
    background-color:;
    color: white;
    text-decoration: none;
    width: 20px;
    text-align: center;
    padding: 10px;
    
}

.menuh a:hover {
   background-color:;
    color: #8ff10e ;
}

.avatar{
    background-color: yellow;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 90%;

}

.avatar img{
    height: 100%;
    width: 100%;

}



.titulo{
    background-color:#7880e8 ;
    
}

.titulo1{
    font-size: 32px;
    text-align: center;
    display: block;
    color: lavender;
}
.titulo2{
    font-size: 20px;
    display: block;
    color: lavender;
    
}

    





.foto img {
    border-radius: 700px;
     position: relative;
     left: 350px;
    
    object-fit: contain;
    
}

.foto{
    
  
}

.sobre{
    height: 425px;
    width:230px ;
    background-color:#7880e8 ;
    border-radius: 50px;
    margin-top: 10px;
    box-shadow:5px  1px 2px 0 rgb(0 0 0 /12%);
    padding-top: 10px;
    position: relative;
    left: 50px;
    

}

.sobre: hover{
    box-shadow:5px  1px 2px 0 rgb(0 0 0 /12%); ;

}


.p{
    color: lavender;
    
}


.div{
    display: inline-block;
    
}

.titulo_sobre{
    background-color: blue;
    color: lavender;
    border-radius: 50px;
    width: 150px;
    margin: left 20px;
    position: relative;
    left: 35px;

    
    
}

.todo_sobre{
    text-align: center;

}

.paragrafo__sobremim{
    text-align: center;
}

   .estudos{
    
    height: 425px;
    width:230px ;
    background-color:#7880e8 ;
    border-radius: 50px;
    margin-top: 10px;
    box-shadow:5px  1px 2px 0 rgb(0 0 0 /12%);
    padding-top: 10px;
    position: relative;
    top: 38px;
    left: 150px;
   
    
}

.titulo_estudos{
    background-color: blue;
    color: lavender;
    border-radius: 50px;
    width: 150px;
    margin: left 20px;
    position: relative;
    left: 35px;

}

.meus_estudos{
    text-align: center;
}
    
.paragrafo_estudos{
    text-align: center;

}


.objetivo{
    height: 425px;
    width:230px ;
    background-color:#7880e8 ;
    border-radius: 50px;
    margin-top: 10px;
    box-shadow:5px  1px 2px 0 rgb(0 0 0 /12%);
    padding-top: 10px;
    position: relative;
    left: 250px;
    bottom: 30px;
    

}

.todo_objetivo{

    background-color: blue;
    color: lavender;
    border-radius: 50px;
    width: 150px;
    margin: left 20px;
    position: relative;
    left: 35px;
}
    
.titulo_objetivo{

 text-align: center;
}

.paragrafo_objetivo{
    text-align: center;
}


.pe{
    background-color: #7880e8;
    margin-bottom: 0px;



}
.contato  {
    text-align: center;
    
}  
.formulario {
    color:lavender;

}
.h2{
    color:lavender ;
}

.img{
    width: 50px;
    height: 50px;
    position: relative;
    left: 40%;
}

@media screen and (min-width:320px) {
    
}




    